@charset "utf-8";

html,body {box-sizing: border-box; line-height: 1.5;font-size: 15px;}
* { margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Times New Roman", Georgia, san-serif;}

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}

h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}

#bar {
    top:0;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: black;
    background-color: white;
    padding: 8px 16px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.12);
    overflow: hidden;
    letter-spacing: 4px;  
}
#bar .button {
    padding: 8px 16px;
    width: auto;
    display: block;
    float: left;
    text-align: center;
    color: black;
    text-decoration: none;
}
#bar .btright {
    float: right;
}
#bar .button:hover{
    background-color: rgb(231, 231, 231);
}

#header{
    width: 1600px;
    margin: auto;
    position: relative;
}
#header div {
    padding: 12px 24px;
    font-size: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .6;
}
#content {
    margin-left: auto;
    margin-right: auto;
}

.pad64 {
    padding: 64px 0;
}
.sec1-1 {
    width: 50%;
    float: left;
    
}
.sec1-1 img {
    padding: 12px 24px;
    opacity: .75;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    box-sizing: inherit;
}
.sec1-2 {
    width: 50%;
    float: left;
    padding: 12px 24px;
}

.sec1-2 h1 {
    text-align: center;
}

.sec1-2 h5 {
    text-align: center;
    font-weight: 400;
}

.sec1-2 p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.sec1-2 p span {
    background-color: #f1f1f1;
    display: inline-block;
    padding: 0 8px;
    text-align: center;
}
.sec1-2 .p-gray {
    color: #757575;
    margin-top: 1em;
}
.section1:after {
    content: '';
    display: block;
    clear: both;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
}

.section2 .sec2-1 {
    padding: 12px 24px;
    float: left;
    
}
.section2 .sec2-1 h1 {
    text-align: center;
}

.section2 p {
    font-size: 15px;
    color: #757575;
}

.section2 .sec2-1 {
    float: left;
}

.section2 .sec2-1 img {
    width: 100%;
    opacity: .75;
    vertical-align: middle;
}

.section2::after{
    content: '';
    display: block;
    clear: both;
}

.contact {
   padding:64px 16px;
   
}
.contact form {
    padding: 16px 0;

}
.contact p {
    margin: 15px 0;
}
.contact .p-color-green {
    color: #607d8b;
    font-size: 18px;
    
}

.contact input {
    padding: 16px 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}
.contact .button {
    padding: 8px 16px;
    margin: 16px 0;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: black;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    background-color: #f1f1f1;
}
.contact .button:hover {
    background-color: #ccc;
}

#footer {
    width: auto;
    height: 120px;
    background-color: #f1f1f1;
}
#footer p {
    text-align: center;
    color: black;
    line-height: 150px;
}
#footer a {
    color: inherit;
}
#footer a:hover {
    color: olivedrab;
}